

<div class="row">

  <div class="col-xs-3">
  
  <%= render 'basics/basics_navleft' %>
  
  </div>

  <div class="col-xs-9">


    	<h3>Stretches </h3>
  	<iframe src="//player.vimeo.com/video/76790136?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="853" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>

</div>

<div align="right">
  <%= link_to "Next: Wrist Stretches ->", basics_wriststretches_path , :class => "btn btn-success btn-lg" %>
</div>

<br>
<div class="jumbotron">
  <div class="container">
    <h2>Stretches (2:44 mins)</h2>
    <p>Description content instructions go here.</p>
  </div>
</div>