

<div class="row">
  <center>
    <h1><strong>Free Video Reveals Top 3 Breaking Tips</strong></h1>
  </center>
</div>

<div class="row">
  <div class="col-md-8">
    <iframe src="//player.vimeo.com/video/79754078?title=0&amp;byline=0&amp;portrait=0&amp;color=cf112d&amp;autoplay=1" width="500" height="284" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <br>

    <div class="panel panel-danger">
      <!-- Default panel contents -->
      <div class="panel-heading">Join our email list</div>
      <div class="panel-body">

      <script type="text/javascript" src="http://forms.aweber.com/form/36/657753136.js"></script>
      </div>
    </div>


  </div>
  <div class="col-md-4">

    <h2><strong>RECEIVE POWERFUL COACHING TIPS</strong></h2>
    <div id="arrow-list">
      <ul>
        <li>&#8220;B.S.T,&#8221; an unorthodox training method that will increase your stamina twice as fast&#8230; no running required.</li>
        <li>&#8220;The Groove,&#8221; two dance exercises that will improve your rhythm and flow&#8230;for  beginners and experienced dancers.</li>
        <li>Watch a short interview with a dance icon and legend. Find out what we talked about and discover a whole new approach on musicality.</li>
      </ul>
    </div>

    <%= image_tag "http://aws-cdn.hottopicmedia.com/dyd/static/images/global/red-arrow.png" %>



  </div>
</div>